.order-detail-item {
    padding: 15px 50px;
    @media screen and (max-width: 768px){
        padding: 10px;
    }
    .ant-list-item-extra {
        margin-left: 0;
    }
    .ant-list-item-meta-title {
        margin-bottom: 0px;
    }
}