.three-component-list {
    &-backbtn {
        font-size: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &-component {
        cursor: pointer;
        img {
            max-width: 100%;
        }
        &.selected {
            border: 2px solid blue;
        }
    }
}