.three-material-list {
    .ant-list-pagination {
        margin-top: 0px;
    }
    &-material {
        cursor: pointer;
        position: relative;
        img {
            max-width: 100%;
        }
        &.selected {
            border: 2px solid #ad7900;
        }
    }
}