.three-component-list {
    .ant-list-pagination {
        margin-top: 0px;
    }
    &-component {
        cursor: pointer;
        position: relative;
        img {
            max-width: 100%;
        }
        &.selected {
            border: 3px solid #EFB416;
        }
    }
}