@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html, body {
    width: initial!important;
    height: initial!important;
    font-family: 'Source Sans Pro', sans-serif!important;
}

#root {
    min-height: 100vh;
    background: #F7F7F7;
}