.ant-input {
    border: 1px solid #8B8B8B;
    border-radius: 0;
}

.ant-input-number {
    border: 1px solid #8B8B8B;
    border-radius: 0;
}

.ant-select-selection {
    border: 1px solid #8B8B8B;
    border-radius: 0;
}

.ant-btn {
    border-radius: 0;
}