#home {
    .three-sence {
        &-container {
            background: #D8D9DD;
        }
        &-control {
            background: #fff;
            padding: 30px;
            overflow: auto;
            height: 100%;
            .ant-list-header {
                margin-bottom: 15px;
            }
        }
    }
}